<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.xingfly.spring.test.bean.UserDao" init-method="initData"
          destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.xingfly.spring.test.bean.UserService">
        <property name="id" value="1"/>
        <property name="location" value="河南"/>
        <property name="company" value="精灵"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>