<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="proxyUserDao" class="com.xingfly.spring.test.bean.ProxyIUserDaoBeanFactory" scope="prototype"/>

    <bean id="userService" class="com.xingfly.spring.test.bean.UserService" scope="prototype">
        <property name="id" value="1"/>
        <property name="location" value="河南"/>
        <property name="company" value="精灵"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

</beans>