<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.xingfly.spring.test.bean.UserDao"/>

    <bean id="userService" class="com.xingfly.spring.test.bean.UserService">
        <property name="id" value="1"/>
        <property name="location" value="河南"/>
        <property name="company" value="精灵"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.xingfly.spring.test.common.MyBeanPostProcessor"/>
    <bean class="com.xingfly.spring.test.common.MyBeanFactoryPostProcessor"/>

</beans>