<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="com.xingfly.spring.test.bean.UserDao"/>

    <bean id="userService" class="com.xingfly.spring.test.bean.UserService">
        <property name="token" value="123456"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.xingfly.spring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.xingfly.spring.test.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.xingfly.spring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.xingfly.spring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.xingfly.spring.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>